@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
  font-family: 'Roboto Mono', monospace;
  background-color: black;
  color: orange;
}

.header{
  text-align: center;
}

.prod {
  color: white;
}

.hub {
  color: black;
  background-color: orange;
  padding: 1px;
  
}

.searchbar {
  text-align: center;
}

.example {
  color: cyan
}

.result {
  text-align: center;
}
